html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

p {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url(xt2.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(1.2) contrast(1.5) saturate(1.3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}